doctype html
html(lang='en')
  head
    title Spendings application
    link(rel='stylesheet', href='/static/main.css')
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap" rel="stylesheet")
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet")
  body 
    div.wrapper
      h1.logo Spendings application

      block number1
    
    footer
      div.wrapper
        p This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service